<div class="game-item games-list__item">
  <div class="game-item__inner">
    <div class="game-item__imgbox">
      <img src="/img/games/{{item.img}}" alt="" class="game-item__img img">
      <div class="game-item__img-overlay">
        <button class="button button_size_m button_view_action game-item__img-button">
            <div class="button__text">Play now</div>
        </button>
      </div>
    </div>
    <div class="game-item__titlebox">
      <div class="game-item__title">{{item.name}}</div>
    </div>
  </div>
</div>