<header class="header page__header">

	<div class="header__inner layout__wrap">
		<div class="header__menu">
			{% set inject = {
				menuBrakePoint: "994",
				parentClass: ""
			}
 %}
			{% include "blocks/menu/menu-main.njk" %}
		</div>
		<div class="header__logo">
			{% include "blocks/logo/logo.njk" %}
		</div>
		<div class="header__button">
			<a href="/registration.html" class="button button_size_l">
				<div class="button__text">Register</div>
			</a>
		</div>
	</div>

</header>