<header class="header page__header">

	<div class="header__inner layout__wrap">
		<div class="header__menu">
			{% set inject = {
				menuBrakePoint: "994",
				parentClass: "layout__wrap"
			}
 %}
			{% include "blocks/menu/menu-main.njk" %}
		</div>
		<div class="header__logo">2</div>
		<div class="header__button">3</div>
	</div>

</header>