<label class="label label_size_l {{inject.labelClass}}" for="">
  <div class="label__inner">
    <div class="label__box">
      <span for="" class="label__text">{{inject.labelTitle}}</span>
    </div>
    <textarea
      class="textarea textarea_size_l label__textarea"
      placeholder="{{inject.labelPlaceholder}}"
      id=""></textarea>
  </div>
</label>