<label class="label label_size_l {{inject.labelClass}}" for="">
  <div class="label__inner">

    <div class="label__box">
      <span for="" class="label__text">{{inject.labelTitle}}</span>
    </div>

    <span class="input input_size_l label__input">
      <span class="input__box">
        <input
          type="{{inject.labelType}}"
          name="{{inject.labelName}}"
          placeholder="{{inject.labelPlaceholder}}"
          class="input__control"
          id=""
        >
      </span>
    </span>
    
  </div>
</label>