.contact {
  &__inner {
    padding-top: 25px;
    padding-bottom: 25px;
    @include bp768-block() {
      padding-right: 40px;
      padding-left: 40px;
    }
    @include bp994-block() {
      padding-right: 80px;
      padding-left: 80px;
    }
    @include bp1280-block() {
      padding-top: 50px;
      padding-bottom: 50px;
      padding-right: 180px;
      padding-left: 180px;
    }
  }

  &__title {
    text-align: center;
  }

  &__form {
  }
}
