<section class="banner page__banner">
  <div class="banner__inner">
    <div class="layout__wrap">
        <div class="banner__box">

          <div class="banner__title title title_main">
            <div class="title__text">
              FREE SOCIAL <br>
              CASINO GAMES
          </div>
          </div>
          <div class="banner__text">
            Play Our Free Social Games Now, Register in 30 Seconds and Have Fun with Your Friends.
          </div>
          <div class="banner__button">
            <div class="button button_size_l">
                <div class="button__text">Register</div>
            </div>
          </div>

        </div>
     
    </div>
  </div>
</section>