<div class="benefits-item benefits__item">
	<div class="benefits-item__inner">

		<div class="benefits-item__imgbox">

			<img src="/img/benefits/{{item.img}}" alt="" class="benefits-item__img img">


		</div>
    <div class="benefits-item__text">
      {{item.text}}
    </div>

	</div>
</div>
